faiss-cpu
openpyxl
langchain
youtube-transcript-api
langchain-openai
langchain-community
python-dotenv
pypdf
gradio
langchain-pinecone
streamlit
streamlit_authenticator==0.3.2
PyPDF2
pymongo
langchain_mongodb
